// Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// Reset
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// Variables
$spacer: 1rem;
$container: 960px;

$primary: #70a1ff;
$body: #000;
$background: #fff;
$light: #a4b0be;
$dark: #2f3542;

$font-size-base: 1.2rem;
$font-size-small: $font-size-base * 0.8;
$font-size-large: $font-size-base * 1.2;

$line-height: 1.8;

*,
*::before,
*::after {
    box-sizing: border-box;
}

// Mains
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    line-height: $line-height;
    font-size: $font-size-base;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacer;
    padding-right: $spacer;
}

a{
    color: $primary;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: $dark;
    }
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: $spacer;
}

header{
    h1{
        text-align: center;
        color: $dark;
        margin-top: $spacer;
    }

    .claim{
        text-align: center;
        color: $light;
        font-size: $font-size-large;
        margin-bottom: $spacer;
    }

    .portrait{
        margin: $spacer;
        text-align: center;

        img{
            border-radius: 100%;
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
        }
    }
}

section{
    padding: $spacer 0;
}

#presentation{

}

#curriculum{
    #curriculum-list{
        list-style: none;
        margin: 0;
        padding: 0;

        .curriculum-list-item{
            margin-bottom: $spacer;

            .curriculum-list-item-year,
            .curriculum-list-item-position,
            .curriculum-list-item-society,
            .curriculum-list-item-body{
                display: block;
            }

            .curriculum-list-item-year{
                color: $light;
                font-weight: bold;
                font-size: $font-size-small;
                text-transform: uppercase;
            }

            .curriculum-list-item-position{
                font-weight: bold;
            }

            .curriculum-list-item-society{
                // font-size: $font-size-small;
                // margin-left: $spacer;
            }

            .curriculum-list-item-body{
                font-size: $font-size-small;
            }
        }
    }
}

#contacts{
    #contacts-list{
        list-style: none;
        margin: 0;
        padding: 0;

        .contacts-list-item{
            @media (min-width: $container) {
                display: inline-block;

                &:not(:last-child){
                    margin-right: $spacer;
                }
            }

            i{
                color: $light
            }
        }
    }
}

footer{
    font-size: $font-size-small;
    color: $light;
    text-align: center;
    padding: $spacer 0;

    &::before{
        content: '';
        display: block;
        width: 20%;
        margin: 0 auto $spacer auto;
        border-top: 1px solid $light;
    }

    a{
        color: inherit;
    }

}
